<template>
  <div class="home">
    <sudoku-board />
  </div>
</template>

<script>
import SudokuBoard from '@/components/SudokuBoard.vue'

export default {
  components: {
    'sudoku-board': SudokuBoard,
  },
}
</script>

<style scoped>
.home {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
</style>
