<template>
  <table class="repeat-grid">
    <tr v-for="row in rows" :key="`row_${row}`" :class="`row-${row}`">
      <td v-for="col in cols" :key="`row_${row}_col_${col}`" :class="`col-${col}`">
        <slot v-bind="{ col, row, index: (row - 1) * cols + col - 1 }" />
      </td>
    </tr>
  </table>
</template>

<script>
export default {
  props: {
    cols: {
      type: Number,
      default: 1,
    },
    rows: {
      type: Number,
      default: 1,
    },
  },
}
</script>

<style scoped>
table {
  border-collapse: collapse;
  border-spacing: 0px;
}

td {
  margin: 0;
  padding: 0;
}
</style>
