<template>
  <div class="control-panel">
    <button v-if="shareLink" @click="share">Share</button>
    <button @click="reset">Reset</button>
  </div>
</template>

<script>
export default {
  props: {
    shareLink: {
      type: String,
      default: undefined,
    },
  },
  methods: {
    share() {
      prompt('Share Link', this.shareLink)
    },
    reset() {
      if (confirm('Are you sure you want to reset?')) {
        this.$emit('reset')
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.control-panel {
  button {
    margin: 0.5em;
  }
}
</style>
