<template>
  <div class="sudoku-block" :class="{'error': hasError}">
    <div v-if="answer" class="answer" @dblclick="answer = undefined">
      <span class="noselect">{{ answer }}</span>
    </div>
    <repeat-grid v-else v-slot="{ index }" :cols="3" :rows="3" class="block-grid">
      <div
        :class="{
          'hidden': possibilities.indexOf(index + 1) === -1,
          'fade': hint && hint !== index + 1,
        }"
        class="possible"
        @click="answer = index + 1"
      >
        <span class="noselect">{{ index + 1 }}</span>
      </div>
    </repeat-grid>
  </div>
</template>

<script>
import _ from 'lodash'
import RepeatGrid from '@/components/RepeatGrid.vue'

export default {
  inject: ['getBlock'],
  components: {
    'repeat-grid': RepeatGrid,
  },
  props: {
    value: {
      type: Number,
      default: undefined,
    },
    col: {
      type: Number,
      required: true,
    },
    row: {
      type: Number,
      required: true,
    },
    ready: {
      type: Boolean,
      default: false,
    },
    hint: {
      type: Number,
      default: undefined,
    },
  },
  data() {
    return {
      answer: this.value,
    }
  },
  computed: {
    /**
     * List of blocks from the column, row and the belonged 3x3 squares
     */
    relatedBlocks() {
      if (!this.ready) return []

      const minCol = Math.ceil(this.col / 3) * 3 - 2
      const maxCol = minCol + 2
      const minRow = Math.ceil(this.row / 3) * 3 - 2
      const maxRow = minRow + 2

      return _.chain(_.range(0, 81))
        .filter(index => {
          const col = index % 9 + 1
          const row = Math.floor(index / 9) + 1

          // ignore self
          if (this.col === col && this.row === row) return false

          // take blocks on the same row or col
          if (this.col === col || this.row === row) return true

          return col >= minCol && col <= maxCol && row >= minRow && row <= maxRow
        })
        .uniq()
        .map(index => this.getBlock(index))
        .filter(block => !!block)
        .value()
    },
    /**
     * The possible solutions for this block by checking the column, row and belonged 3x3 squares
     */
    possibilities() {
      const presents = _.chain(this.relatedBlocks)
        .map(block => block.answer)
        .filter(answer => !!answer)
        .uniq()
        .value()

      return _.filter(_.range(1, 10), p => presents.indexOf(p) === -1)
    },
    /**
     * Whether there is an error or not.
     */
    hasError() {
      return (
        this.possibilities.length === 0 ||
        (this.answer && this.possibilities.indexOf(this.answer) === -1)
      )
    },
  },
  watch: {
    value(newValue) {
      if (newValue === this.answer) return
      this.answer = newValue
    },
    answer(newValue) {
      if (newValue === this.value) return
      this.$emit('input', newValue)
    },
  },
};
</script>

<style lang="scss" scoped>
.sudoku-block {
  width: 3em;
  height: 3em;
  padding: 0.1em;
}

.sudoku-block.error {
  background-color: #FFCDD2;
}

.answer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 2.4em;
}
.answer:hover {
  cursor: pointer;
}

.block-grid.repeat-grid ::v-deep {
  & {
    width: 100%;
    height: 100%;
  }

  & > tr > td {
    text-align: center;
    vertical-align: middle;
  }
}

.block-grid.repeat-grid {
  .possible {
    width: 100%;
    height: 100%;

    color: #42A5F5;
    font-weight: 500;
    font-size: 0.7em;
  }
  .possible > span {
    line-height: 1.5em;
  }

  .possible:hover {
    cursor: pointer;
    color: white;
    background-color: #42A5F5;
    border-radius: 0.2em;
  }

  .possible.fade {
    color: #DDD;
    cursor: none;
    pointer-events: none;
  }
}
</style>
