<template>
  <div>
    <repeat-grid
      :cols="9"
      :rows="9"
      v-slot="{ col, row, index }"
      class="board-grid"
    >
      <sudoku-block
        :ref="`block-${index}`"
        v-model="answers[index]"
        :col="col"
        :row="row"
        :hint="hints[index]"
        :ready="ready"
      />
    </repeat-grid>
    <sudoku-control-panel :share-link="shareLink" @reset="reset" />
  </div>
</template>

<script>
import _ from 'lodash'
import RepeatGrid from '@/components/RepeatGrid.vue'
import SudokuBlock from '@/components/SudokuBlock.vue'
import SudokuControlPanel from '@/components/SudokuControlPanel.vue'

export default {
  provide: function() {
    return {
      getBlock: this.getBlock,
    }
  },
  components: {
    'repeat-grid': RepeatGrid,
    'sudoku-block': SudokuBlock,
    'sudoku-control-panel': SudokuControlPanel,
  },
  props: {
    answersQuery: {
      type: String,
      default: 'ans',
      validator(value) {
        return value.trim()
      },
    },
  },
  data() {
    return {
      ready: false,
      answers: [],
      hints: [],
    }
  },
  computed: {
    serialisedAnswers() {
      return _.chain(this.answers)
        .map(a => a ? a : 0)
        .join('')
        .value()
    },
    shareLink() {
      const loc = window.location
      return `${loc.origin}${loc.pathname}?${this.answersQuery}=${this.serialisedAnswers}`
    },
    rows() {
      if (!this.ready) return []
      return _.chain(_.range(0, 9))
        .map(row => _.range(row * 9, row * 9 + 9))
        .map(indices => _.map(indices, index => this.getBlock(index)))
        .value()
    },
    columns() {
      if (!this.ready) return []
      return _.chain(_.range(0, 9))
        .map(col => _.range(col, col + 81, 9))
        .map(indices => _.map(indices, index => this.getBlock(index)))
        .value()
    },
    squares() {
      if (!this.ready) return []
      return _.chain(_.range(0, 81))
        .groupBy(index => {
          const col = index % 9 + 1
          const row = Math.floor(index / 9) + 1

          return `${Math.ceil(col / 3)}-${Math.ceil(row / 3)}`
        })
        .values()
        .map(indices => _.map(indices, index => this.getBlock(index)))
        .value()
    },
  },
  watch: {
    answers: {
      deep: true,
      handler() {
        this.save()
        this.resolve()
      },
    },
  },
  created() {
    if (this.$route.query[this.answersQuery]) {
      this.resume(this.$route.query[this.answersQuery])
      this.save()
      this.$router.push({query: {...this.$route.query, [this.answersQuery]: undefined}})
    } else {
      const serialised = localStorage.getItem('sudoku.default')
      if (serialised) this.resume(serialised)
    }
  },
  mounted() {
    this.ready = true
    this.resolve()
  },
  methods: {
    getBlock(index) {
      return this.$refs[`block-${index}`]
    },
    save() {
      localStorage.setItem('sudoku.default', this.serialisedAnswers)
    },
    resume(serialised) {
      _.each(serialised, (answer, index) => {
        answer = parseInt(answer)
        if (!isNaN(answer) && answer !== 0) {
          this.answers[index] = answer
        }
      })
    },
    reset() {
      this.answers = []
    },
    resolve() {
      this.$nextTick(() => {
        this.hints = []

        if (!this.answers || this.answers.every(an => !an)) return

        _.each(this.rows, row => this.resolveBlockGroup(row))
        _.each(this.columns, column => this.resolveBlockGroup(column))
        _.each(this.squares, square => this.resolveBlockGroup(square))
      })
    },
    resolveBlockGroup(blocks) {
      if (_.some(blocks, b => b.hasError)) return

      // find out unique possibilities in the block group
      _.chain(blocks)
        .filter(block => !block.answer)
        .map(block => block.possibilities)
        .flatten()
        .countBy()
        .pickBy(count => count === 1)
        .keys()
        .each(possibility => {
          possibility = parseInt(possibility)
          const block = blocks.find(b => !b.answer && _.includes(b.possibilities, possibility))
          const index = (block.row - 1) * 9 + block.col - 1
          this.hints[index] = possibility
        })
        .value()
    },
  },
}
</script>

<style lang="scss" scoped>
$border-light: 0.1em solid #ddd;
$border-dark: 0.1em solid #111;

.board-grid.repeat-grid ::v-deep {
  & {
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 1em;
  }

  & > tr > td {
    border: $border-light;
  }

  & > tr.row-1 > td {
    border-top: $border-dark;
  }

  & > tr.row-3 > td,
  & > tr.row-6 > td,
  & > tr.row-9 > td {
    border-bottom: $border-dark;
  }

  & > tr > td.col-1 {
    border-left: $border-dark;
  }

  & > tr > td.col-3,
  & > tr > td.col-6,
  & > tr > td.col-9 {
    border-right: $border-dark;
  }
}

.border-left-dark {
  border-left: 0.1em solid #111;
}
.border-top-dark {
  border-top: 0.1em solid #111;
}
.border-right-dark {
  border-right: 0.1em solid #111;
}
.border-bottom-dark {
  border-bottom: 0.1em solid #111;
}
</style>
