<template>
  <div id="app">
    <home-page />
  </div>
</template>

<script>
import HomePage from '@/pages/HomePage.vue'

export default {
  name: 'App',
  components: {
    'home-page': HomePage,
  },
}
</script>

<style lang="scss">
#app {
  & {
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
    font-size: 3vmin;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
  }

  .hidden {
    visibility: hidden;
  }

  // https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
}
</style>
